/local-config.php
.htaccess
.listing
.DS_Store
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/cache/*
wp-content/plugins/db-cache-reloaded-fix/cache/*
wp-content/plugins/all-in-one-seo-pack/*.log
wp-content/wptouch-data/cache/*
wp-content/wptouch-data/debug/*
wp-content/wptouch-data/temp/*
*.bak
*.back
*.bk*
.sass-cache
*.command
